@import "../stylus/setting.styl"
@import "../stylus/theme.styl"
@import "../stylus/elements.styl"

b-header($template)
  background: $template.background


theme(b-header, "b-header")

.b-header {

}
