@import "../setting.styl"
@import "../theme.styl"

intro-header($template)
  color: $template.text.primary

theme(intro-header, 'intro-header')

.intro-header {
  h1 {
    padding-left: $padding.default.horizontal
    padding-right: $padding.default.horizontal
  }
}
