{
  "presets": [
    "@babel/env"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "transform-vue-jsx"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        [
          "module-resolver",
          {
            "root": [
              "./backpacks"
            ],
            "alias": {
              "~plugins": "plugins"
            }
          }
        ]
      ],
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
