@import "../../stylus/setting.styl"

element-margin()
  > * {
    margin-top 1rem
  }

  > *:first-child {
    margin-top: 0
  }

.b-width-wrap {
  display: flex

  &--side {
    element-margin()
    flex: 1 0 auto
    margin-left: 1.5rem
  }

  &--main {
    element-margin()
    flex: 4 1 auto
  }

  @media $display-breakpoints.sm-and-down {
    flex-direction: column-reverse

    &--side {
      padding: .5rem .2rem
      margin-left: 0
    }

    &--main {
      padding: .5rem .2rem
      margin-top: 1rem
    }
  }
}
