@import "../stylus/setting.styl"
@import "../stylus/theme.styl"

.b-container {
  display: block
  min-width: auto
  min-height: 30rem
  max-width: 80rem
  margin: 2rem auto
  padding-left: $padding.default.horizontal
  padding-right: $padding.default.horizontal
  background: transparent // this component doesn't need background

  > * {
    margin-top 1rem
  }

  > *:first-child {
    margin-top: 0
  }

  @media $display-breakpoints.xs-only {
    margin-left: $padding.narrow.horizontal
    margin-right: $padding.narrow.horizontal
    padding: 0
  }
}
