@import "../stylus/setting.styl"
@import "../stylus/theme.styl"

.b-container {
  display block
  margin-left: 3rem
  min-height: 30rem
  max-width: 40rem
  margin-top: 2rem
  margin-bottom: 2rem
  background: transparent

  > * {
    margin-top 1rem
  }

  > *:first-child {
    margin-top: 0
  }

  @media $display-breakpoints.xs-only {
    margin-left: auto
    margin-right: auto
  }
}
