@import "../../stylus/settings/_variables.styl"
@import "../../stylus/settings/_elevations.styl"
@import "../../stylus/generic/_theme.styl"

b-image($template)
  background: transparent

theme(b-image, "b-image")

.b-image {
  background no-repeat center center
  background-attachment scroll
  background-size cover
}
