@import "../stylus/settings/_variables.styl"
@import "../stylus/settings/_elevations.styl"
@import "../stylus/generic/_theme.styl"

.b-hover {
  display inline-flex
  align-items center
  text-align center
  position relative
}
