$white = #FFFFFF
$black = #22292F
$grey = {
  "lightest": #F8FAFC,
  "lighter": #F1F5F8,
  "light": #DAE1E7,
  "base": #B8C2CC,
  "dark": #8795A1,
  "darker": #606F7B,
  "darkest": #3D4852
}

$red = {
  "lightest": #FCEBEA,
  "lighter": #F9ACAA,
  "light": #EF5753,
  "base": #E3342F,
  "dark": #CC1F1A,
  "darker": #621B18,
  "darkest": #3B0D0C
}

$orange = {
  "lightest": #FFF5EB,
  "lighter": #FCD9B6,
  "light": #FAAD63,
  "base": #F6993F,
  "dark": #DE751F,
  "darker": #613B1F,
  "darkest": #462A16
}

$yellow = {
  "lightest": #FCFBEB,
  "lighter": #FFF9C2,
  "light": #FFF382,
  "base": #FFED4A,
  "dark": #DE751F,
  "darker": #684F1D,
  "darkest": #453411
}

$green = {
  "lightest": #E3FCEC,
  "lighter": #A2F5BF,
  "light": #51D88A,
  "base": #38C172,
  "dark": #1F9D55,
  "darker": #1A4731,
  "darkest": #0F2F21
}

$teal = {
  "lightest": #E8FFFE,
  "lighter": #A0F0ED,
  "light": #64D5CA,
  "base": #4DC0B5,
  "dark": #38A89D,
  "darker": #20504F,
  "darkest": #0D3331
}

$blue = {
  "lightest": #EFF8FF,
  "lighter": #BCDEFA,
  "light": #6CB2EB,
  "base": #3490DC,
  "dark": #2779BD,
  "darker": #1C3D5A,
  "darkest": #12283A
}

$indigo = {
  "lightest": #E6E8FF,
  "lighter": #B2B7FF,
  "light": #7886D7,
  "base": #6574CD,
  "dark": #5661B3,
  "darker": #2F365F,
  "darkest": #191E38
}

$purple = {
  "lightest": #F3EBFF,
  "lighter": #D6BBFC,
  "light": #A779E9,
  "base": #9561E2,
  "dark": #794ACF,
  "darker": #382B5F,
  "darkest": #21183C
}

$pink = {
  "lightest": #FFEBEF,
  "lighter": #FFBBCA,
  "light": #FA7EA8,
  "base": #F66D9B,
  "dark": #EB5286,
  "darker": #6F213F,
  "darkest": #451225
}

$shades = {
  "black":        #000000,
  "white":        #FFFFFF,
  "transparent":  transparent
}

$color-status = {
  "pink": #f495a0,
  "red": #e74c3c,
  "yellow": #f1c40f,
  "orange": #e67e22,
  "purple": #8e44ad,
  "green": #5eb95e,
  "greendark": rgba(5, 67, 16, 0.79),
  "bluedark": #2E468C,
  "bluelight": #3498db,
  "black": #34495e,
  "gray": #bbb,
  "brown": #996600
}

$colors := {
  "blue": $blue
  "green": $green
  "grey": $grey
  "indigo": $indigo
  "pink": $pink
  "purple": $purple
  "red": $red
  "orange": $orange
  "yellow": $yellow
  "teal": $teal
  "white": $white
  "black": $black
}
