@import "../stylus/settings/_variables.styl"
@import "../stylus/settings/_elevations.styl"
@import "../stylus/generic/_theme.styl"

b-media($template)
  background transparent

theme(b-media, "b-media")

.b-media {

}
