@import "../stylus/settings/_variables.styl"
@import "../stylus/settings/_elevations.styl"
@import "../stylus/generic/_theme.styl"

b-card($template)
  background-color: $template.cards
  border-color: $template.cards
  color: $template.text.primary

theme(b-card, "b-card")

.b-card {
  display flex
  flex-direction column
  flex-wrap nowrap
  padding 0
  margin 0 16px 0 16px
  border-radius $border-radius-default
  text-align left
  elevation(1)

  &--tile {
    border-radius 0
  }

  &--header {
    display flex
    flex-direction row
    flex-wrap nowrap
    align-items center
    padding 16px 20px 16px 20px
    border 0

    &--media {
      padding 0
      margin 0
      width 100%
      position relative
      border-radius $border-radius-default

      .b-el-title {
        position relative
        font-size 1rem
        margin-left 1.5rem
      }

      > div {
        margin 0
        padding 1rem 0
        border-top-left-radius $border-radius-default
        border-top-right-radius $border-radius-default
        background-color transparent !important
        background no-repeat center center
        background-attachment scroll
        background-size cover
      }
    }
  }

  &--footer {
    padding 16px 20px
  }

  &--body {
    padding 20px
    text-align left
  }

  @media $display-breakpoints.xs-only {
    margin 0
  }
}
