@import "../setting.styl"
@import "../theme.styl"

b-card($template)
  background-color: $template.cards
  border-color: $template.cards
  color: $template.text.primary

theme(b-card, "b-card")

.b-card {
  display flex
  flex-direction column
  flex-wrap nowrap
  set-padding(0, 0)
  margin 0 $primary-padding
  border-radius $border-radius-default
  text-align left
  elevation(1)

  &--tile {
    border-radius 0
  }

  &--header {
    @extends .intro-header

    display flex
    flex-direction row
    flex-wrap nowrap
    align-items center
    margin-top .5rem 0
    border 0

    &--media {
      @extends .intro-header

      padding 0
      margin 0
      width 100%
      position relative
      border-radius $border-radius-default

      .b-el-title {
        position relative
        font-size 1rem
      }

      > div {
        margin 0
        padding 1rem 0
        border-top-left-radius $border-radius-default
        border-top-right-radius $border-radius-default
        background-color transparent !important
        background no-repeat center center
        background-attachment scroll
        background-size cover
      }
    }
  }

  &--footer {
    set-padding($secondary-padding, $primary-padding)
    display inline-flex

    :first-child {
      margin-left 0
    }

    > * {
      margin-left .2rem
    }
  }

  &--body {
    set-padding()
    text-align left
  }

  @media $display-breakpoints.xs-only {
    margin 0
  }
}
