@import "_colors.styl"


$body-font-family-default := 'Roboto', sans-serif
$font-size-default := 14px
$line-height-default := 1.5

$theme-light = {
  app: {
    background: #eee
  },
  background: #FAFAFA,
  cards: #fff,
  text: {
    theme: #fff,
    primary: rgba(#333, .87),
    secondary: rgba(#333, .54),
    disabled: rgba(#33, .38),
    link: $blue.dark,
    link-hover: $grey.darkest
  }
}

$theme-dark = {
  app: {
    background: #323639
  },
  background: #303030,
  cards: #424242,
  text: {
    theme: #fff,
    primary: #fff,
    secondary: rgba(#fff, .70),
    disabled: rgba(#fff, .50),
    link: $blue.light,
    link-hover: $grey.light
  },
}

$theme := {
  "light": $theme-light,
  "dark": $theme-dark
}
