@import '../settings/_elevations.styl'
@import '../settings/_variables.styl'

for z in (0..24)
  .elevation-{z}
    transition: box-shadow $primary-transition
    elevation(z, true)

for z in (0..24)
  .elevation--text-{z}
    text-elevation(z)
